/*** base objects (default) ***/
@import "clotilde-colors.less";

body {
    font-family: 'Open Sans', Helvetica, Arial, 'FreeSans', sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: @color-primary-1;
    color: @textforecolor;
    left:0;
    right:0;
    top:0;
    bottom:0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

}

math {
    font-family: 'Open Sans', Helvetica, Arial, 'FreeSans', sans-serif;
    font-size: 10pt;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }
.justify { text-align: justify; }

header {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: @color-primary-2;

    order: 1;
    flex-grow: 0;
    flex-shrink: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;

    nav {
	order: 2;
	flex-grow: 0;
	flex-shrink: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;

	font-size: 1em;

	a {
	    background-color: @color-primary-4;
	    color: @color-primary-2;
	    margin-left: .5em;
	    margin-right: .5em;
	    border-radius: 1em;
	    padding-left: 1em;
	    padding-right: 1em;
	    text-decoration: none;
	}

	a.selected, 
	a:active, 
	a:hover {
	    background-color: @color-primary-3;
	    color: @color-primary-4;
	}
	bottom: 0;
	left: 0;
	height: 30px;
	line-height: 30px;
	padding: 0;
	padding-bottom: 3pt;
	padding-top: 3pt;
	margin-left: 5%;
	margin-right: 5%;
    }


    h1 {
	order: 1;
	flex-grow: 1;
	flex-shrink: 0;

	margin: 0;
	font-size: 200%;
	color: @color-primary-2;
	text-shadow: 1px 1px 2px @color-dark-4;
	letter-spacing: 20px;
	text-align: left;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	font: 40pt 'Kranky', cursive;
	margin-left: 5%;
	margin-right: 5%;
    }
    
    
}

footer {
    margin: 0;
    padding: 0;
    width: 100%;

    min-height: 3em;
    border-top: 1px solid @color-primary-0;

    font-size: .8em;
    color: @color-primary-0;

    order: 3;
    flex-grow: 0;
    flex-shrink: 0;
}

main {

    background-color: white;

    margin: 0;

    order: 2;
    flex-grow: 1;
    flex-shrink: 0;

    nav {
	order: 2;
	flex-grow: 0;
	flex-shrink: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: center;

	font-size: .9em;

	a {
	    display: inline-block;
	    background-color: @color-primary-4;
	    color: @color-primary-2;
	    margin-left: .2em;
	    margin-right: .2em;
	    border-radius: 1.8em;
	    padding: 0;
	    padding-left: .7em;
	    padding-right: .7em;
	    text-decoration: none;
	    height: 1.8em;
	    line-height: 1.8em;
	}

	a.selected, 
	a:active, 
	a:hover {
	    background-color: @color-primary-3;
	    color: @color-primary-4;
	}
	bottom: 0;
	left: 0;
	height: 30px;
	line-height: 30px;
	padding: 0;
	padding-bottom: 3pt;
	padding-top: 3pt;
	margin-left: 10px;
	margin-right: 10px;

    }

    article {
	background: white;
	padding: 1em;
	min-height: 800px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;

    }

    aside {
	font-size: .8em;
	padding: .5em;
	border: 1px solid @color-dark-0;
	float: right;
    }

    section.collector {
	margin: 2em;

	table {
	    width: 100%;

	    select {
		//max-width: 5em;
		width: 100%;
	    }
	}
    }

    section.text {
	margin: 2em;
	p {
	    padding: 0;
	    margin-top: 0;
	    margin-bottom: 0;
	    padding-top: 0;
	    padding-bottom: 0;
	    text-align: justify;
	    text-indent: 1em;
	    line-height: 2em;
	}
    }

    a { 
	color: @color-primary-4;;
	text-decoration: none;
    }

    a:active, a:hover {
	color: lighten(@color-primary-2,30%);
	background-color: @color-primary-4;
    }

    h1 { font-size: 200%; }
    h2 { font-size: 150%; }
    h3 { font-size: 120%; }
    h4 { font-size: 100%; }
    h5 { font-size: 100%; }

    h1, h2, h3, h4, h5, p.subtitle {
	color: @color-dark-0;
    }

    h1 {
	border-bottom: 1px solid @color-dark-0;
	border-top: 1px solid @color-dark-0;
	text-align: center;
    }

    h2 {
	border-bottom: 1px solid @color-dark-0;
    }

    p.subtitle {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 1em;
	text-align: right;
	text-indent: 0;
	line-height: 1em;
	font-size: 80%;
    }

    span.token {
	border-left: 1px solid @textforecolor;
	text-align: center;
	padding-left: .3em;
	padding-right: .3em;
    }


    div.blocks {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: stretch;
	align-content: stretch;
	
	section {
	    flex-shrink: 0;
	    flex-grow: 1;
	    padding: 1em;
	    
	    display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: stretch;
	    align-items: stretch;
	    align-content: stretch;
	    
	    border: 1px solid @color-primary-0;
	    margin: 1em;

	    h1 {
		background-color: fade(@color-primary-0,50%);
		border-color: @color-primary-4;
		color: @color-primary-4;
		font-size: 1em;
		margin-top: 0;
	    }

	    p {
		line-height: 1.2em;
		padding: 0;
		margin: 0;
		margin-bottom: .3em;
		
	    }

	    table {
		width: 100%;
		
		thead {}
		
		tbody:nth-child(even) { 
		    background-color: fade(@color-primary-0,20%);
		};
		
		tbody:nth-child(odd) { 
		    background-color: fade(@color-primary-0,10%);
		};

	    }
	    
	}
    }
    
}

/*** helpers ***/

div.helper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;

    section {
	flex-shrink: 0;
	flex-grow: 1;
	padding: .5em;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: stretch;
	align-items: stretch;
	align-content: stretch;

	border: 1px solid @color-primary-0;
	margin: .5em;

	h1 {
	    background-color: fade(@color-primary-0,50%);
	    border-color: @color-primary-4;
	    color: @color-primary-4;
	    font-size: 1em;
	    margin-top: 0;
	}

	.expand {
	    min-width: 40vw;
	}

	table {
	    width: 100%;


	    .entry,input[type=text] {
		width: 10em;
	    }

	    .checkbox, input[type=checkbox] {
		text-align: center;
		width: 3em;
	    }
	    
	    select {
		width: 100%;
	    }
	    
	    thead {
		th {
		    font-size: .8em;
		    color: @color-primary-0;
		}
	    }
	}

	p {
	    display: flex;
	    flex-direction: row;
	    flex-wrap: nowrap;
	    align-items: stretch;
	    align-content: stretch;

	    margin: 0;
	    padding: 0;

	    select,span.separator,input[type=checkbox] {
		flex-grow: 0;
	    }
	    input[type=text] {
		flex-grow: 1;
		flex-shrink: 1;
	    }
	    span.separator {
		line-height: 2em;
	    }

	}

    }

    
}
