{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it" >
<head>
<title>Costruttori di mondi - Server Error</title>
<!-- <meta name="google-site-verification" content="cTO1ehXvg6JqNlAB2KqZWq0AlpboPeaVH_gNBKQLgBk" /> -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="icon" href="/static/brand/mondopiccolo.png" type="image/png"/>
<link rel="stylesheet" type="text/css" href="/static/css/500.css"/>
</head><body>

  <div id="header">
    <center>
      <div id="banner">
	<img src="/static/brand/costruttori.png"/>
	<div id="headermenu"><a href="/">Home</a><a href="/profiles/users/">Iscritti</a><a href="/help/rules/">Regolamento</a><a href="/help/manual/">Help</a><a href="/help/faqs/">FAQ</a></div>
      </div>
    </center>
  </div>

  <div id="content">
    <div id="errors" class="contentbox">
      <p>{% trans "We're sorry" %}.</p>
      <hr/>
      <p>{% trans "There's been an error. It's been reported to the site administrators via e-mail and should be fixed shortly. Thanks for your patience." %}.</p>
    </div>
  </div>

</body>
</html>
