{% extends "base.html" %}

{% block applicationmenu %}
{% include "helpers/italiano/includes/menu.html" %}
{% endblock %}

{% block centercontent %}

<h1>Aggiungi root</h1>

<div class="helper italiano">

<form method="post">
    {{ csrf_input }}
    <p>root: {{ form_root.root }} part of speech: {{ form_root.part_of_speech }} base: {{ form_root.base }}</p>
    <input type="submit" value="create"/>

    <div class="helper italiano">

      {% for key in formsets %}
      <section>
	<h2>{{ key }} derivato</h2>
    <div id="management_{{ key }}" hidden>
	  {{ formsets[key].management_form }}</div>
	<table id="{{ key }}_table">
	  <thead>
	    <tr><th>regexp</th><th>replacement</th><th>paradigma</th><th>delete</th></tr>
	  </thead>
	</table>

	<button type="button" data-target_id="#{{ key }}_table" data-helper_id="{{ key }}" class="addrow">add {{ key }}</button>

      </section>
      {% endfor %}

    </div>
</form>

{% endblock centercontent %}

{% block script %}

function Helper(label,name,template) {
    this.label=label;
    this.name=name;
    this.num_cols=1;
    this._num_rows=0;
    this._template=template;
}

Helper.prototype = {
    /*
    _header: function(){
	return "<thead><tr><th colspan='"+this.num_cols+"'>"+this.name+"</th></tr></thead>";
    },
    */
    _row: function(){
	var word_input;
	var html="";
	var elem;
	word_input=this._template.replace(/-0-/g,"-"+this._num_rows.toString()+"-");
	html+=word_input;
	elem=$( "<tbody><tr>"+html+"</tr></tbody>" );
	return elem;
    },
    _set_management: function(selector,num){
	$("#management_"+this.label).children().val(num);
    },
    init_form: function(selector){
	this._set_management(selector,0);
	this._num_rows=0;
    },
    add_row: function(selector){
	var table=$(selector);
	table.append(this._row());
	this._num_rows+=1;
	this._set_management(selector,this._num_rows);
	return table;
	
    }
}



var HELPERS = {
    {% for key in formsets %}
    "{{ key }}": new Helper("{{ key }}","{{ key }}",'{{ formsets[key][0] }}'){% if not loop.last %},{% endif %}
    {% endfor %}
};

for(k in HELPERS){
    HELPERS[k].init_form("#helper_data");
    console.log(k);
}

$(".addrow").click(function(event){
    event.preventDefault();
    var selector=$(this).data("target_id");
    var key=$(this).data("helper_id");
    HELPERS[key].add_row(selector);
});

/*
$("#helper").change(function(event){
    var helper=HELPERS[$(this).val()];
    helper.init_form("#helper_data");
});

*/


{% endblock script %}
