{% extends "base.html" %}

{% block applicationmenu %}
{% include "helpers/italiano/includes/menu.html" %}
{% endblock %}

{% block centercontent %}

<h1>Italiano</h1>

<div class="blocks">

  <section>
    <h1>Helpers</h1>
    <p><a href='{{ url("helpers:italiano_verbi") }}'>Inserimento paradigmi verbali</a></p>
    <p><a href='{{ url("helpers:italiano_add_root") }}'>Inserimento root</a></p>
    <p><a href='{{ url("helpers:italiano_paradigma_nome") }}'>Paradigma nome</a></p>
    <p><a href='{{ url("helpers:italiano_paradigma_verbo") }}'>Paradigma verbo</a></p>
  </section>

  {% for corpus in language.corpus_set.all() %}
  <section>
    <h1>Text collectors: {{ corpus }}</h1>

    <table>
      {% for text in corpus.text_ordered_by_len() %}
      <tbody>
      <tr>
	<td><a href='{{ url("helpers:italiano_textcollector",kwargs={"pk": text.pk}) }}'>{{ text }}</a></td>
	<td class="right">{{ text.text_len }}</td>
      </tr>
      </tbody>
      {% endfor %}
    </table>
  </section>
  {% endfor %}
    

</div>
{% endblock centercontent %}

