{% extends "corpora/text_detail.html" %}

{% block applicationmenu %}

<a href='{{ url("helpers:italiano") }}'>Italiano</a>
<a href='{{ url("helpers:italiano_verbi") }}'>Inserimento paradigmi verbali</a>

{% endblock %}

{% block output %}
<select id="helper"></select>



<form id="helper_data" method="POST" action="">
    {{ csrf_input }}
    {% for key in formsets %}
    <section class="management" id="management_{{ key }}" hidden="hidden">
    {{ formsets[key].management_form }}
    </section>
    {% endfor %}

    <input type="hidden" name="form-TOTAL_FORMS" value="0" 
	   id="id_form-TOTAL_FORMS">
    <input type="hidden" name="form-INITIAL_FORMS" value="0" 
	   id="id_form-INITIAL_FORMS">
    <input type="hidden" name="form-MIN_NUM_FORMS" value="0" 
	   id="id_form-MIN_NUM_FORMS">
    <input type="hidden" name="form-MAX_NUM_FORMS" value="0" 
	   id="id_form-MAX_NUM_FORMS">
    <input type="submit" value="add"/>

    <table id="helper_table">
    </table>

    <input type="submit" value="add"/>
</form>

{{ super() }}
{% endblock %}

{% block script %}

function Helper(label,name,template) {
    this.label=label;
    this.name=name;
    this.num_cols=1;
    this._num_rows=0;
    this._template=template;
}

Helper.prototype = {
    /*
    _header: function(){
	return "<thead><tr><th colspan='"+this.num_cols+"'>"+this.name+"</th></tr></thead>";
    },
    */
    _row: function(word){
	var word_input;

	word_input=this._template.replace(/0/g,this._num_rows.toString());
	
	// word_input='<input type="text" name="form-"'+this._num_rows.toString();+'"-root"';
	// word_input+=' id="id_form-"'+this._num_rows.toString()+'"-root" value="'+word+'">';
	// return "<tbody><tr><td>"+this._num_rows.toString()+"</td><td>"+word_input+"</td></tr></tbody>";

	return "<tbody><tr>"+word_input+"</tr></tbody>";
	
    },
    _set_management: function(selector,num){
	$("#management_"+this.label).children().val(num);
	/*
	$("#id_"+this.label+"-TOTAL_FORMS").val(num);
	$("#id_"+this.label+"-INITIAL_FORMS").val(num);
	$("#id_"+this.label+"-MIN_NUM_FORMS").val(num);
	$("#id_"+this.label+"-MAX_NUM_FORMS").val(num);
	*/
    },
    init_form: function(selector){
	//var table=$(selector+" table");
	//table.html("");
	//table.append(this._header());
	this._set_management(selector,0);
	this._num_rows=0;
	//return table;
    },
    add_word: function(selector,word){
	var table=$(selector+" table");
	table.append(this._row(word));
	this._num_rows+=1;
	this._set_management(selector,this._num_rows);
	return table;
	
    }
}



var HELPERS = {
    {% for key in formsets %}
    "{{ key }}": new Helper("{{ key }}","{{ key }}",'{{ formsets[key][0] }}'){% if not loop.last %},{% endif %}
    {% endfor %}
};

for(k in HELPERS){
    $('#helper').append('<option value="'+k+'">'+HELPERS[k].name+'</option>');
    HELPERS[k].init_form("#helper_data");
    console.log(k);
}

/*
$("#helper").change(function(event){
    var helper=HELPERS[$(this).val()];
    helper.init_form("#helper_data");
});

*/

$(".not-found-morph").css("cursor","pointer");

$(".not-found-morph").click(function(event){
    event.preventDefault();
    var word=$(this).html();
    var helper=$("#helper").val();
    HELPERS[helper].add_word("#helper_data",word);
});



{% endblock script %}
