{% extends "corpora/text_detail.html" %}

{% block applicationmenu %}

<a href='{{ url("helpers:italiano") }}'>Italiano</a>
<a href='{{ url("helpers:italiano_verbi") }}'>Inserimento paradigmi verbali</a>

{% endblock %}

{% block output %}
<select id="helper">
</select>

<form id="helper_data" method="POST">
    {{ csrf_input }}
    <input type="hidden" name="form-TOTAL_FORMS" value="0" 
	   id="id_form-TOTAL_FORMS">
    <input type="hidden" name="form-INITIAL_FORMS" value="0" 
	   id="id_form-INITIAL_FORMS">
    <input type="hidden" name="form-MIN_NUM_FORMS" value="0" 
	   id="id_form-MIN_NUM_FORMS">
    <input type="hidden" name="form-MAX_NUM_FORMS" value="0" 
	   id="id_form-MAX_NUM_FORMS">

    <table>
    </table>
</form>

{{ super() }}
{% endblock %}

{% block script %}

function Helper(name) {
    this.name=name;
    this.num_cols=1;
    this._num_rows=0;
}
Helper.prototype = {
    _header: function(){
	return "<thead><tr><th colspan='"+this.num_cols+"'>"+this.name+"</th></tr></thead>";
    },
    _row: function(word){
	var word_input;
	word_input='<input type="text" name="form-"'+this._num_rows.toString();+'"-root"';
	word_input+=' id="id_form-"'+this._num_rows.toString()+'"-root" value="'+word+'">';
	return "<tbody><tr><td>"+this._num_rows.toString()+"</td><td>"+word_input+"</td></tr></tbody>";
    },
    _set_management: function(selector,num){
	$("#id_form-TOTAL_FORMS").val(num);
	$("#id_form-INITIAL_FORMS").val(num);
	$("#id_form-MIN_NUM_FORMS").val(num);
	$("#id_form-MAX_NUM_FORMS").val(num);
    },
    init_form: function(selector){
	var table=$(selector+" table");
	table.html("");
	table.append(this._header());
	this._set_management(selector,0);
	this._num_rows=0;
	return table;
    },
    add_word: function(selector,word){
	var table=$(selector+" table");
	table.append(this._row(word));
	this._num_rows+=1;
	this._set_management(selector,this._num_rows);
	return table;
	
    }
}

function NomeProprioHelper() {
    Helper.call(this,"Nome proprio");
    this.num_cols=2;
}

function VerboHelper() {
    Helper.call(this,"Verbo");
}

function NomeHelper() {
    Helper.call(this,"Nome");
}

function AggettivoHelper() {
    Helper.call(this,"Aggettivo");
}

NomeProprioHelper.prototype = Object.create(Helper.prototype);
NomeProprioHelper.prototype.constructor = NomeProprioHelper;
NomeHelper.prototype = Object.create(Helper.prototype);
NomeHelper.prototype.constructor = NomeHelper;
AggettivoHelper.prototype = Object.create(Helper.prototype);
AggettivoHelper.prototype.constructor = AggettivoHelper;
VerboHelper.prototype = Object.create(Helper.prototype);
VerboHelper.prototype.constructor = VerboHelper;

NomeProprioHelper.prototype.init_form = function(selector){
    var table=Helper.prototype.init_form.apply(this,[selector]); //(this, arguments);
    table.children("thead").append("<tr><th>root</th><th>genere</th></tr>");
};


var HELPERS = {
    "nome_proprio": new NomeProprioHelper(),
    "verbo": new VerboHelper(),
    "nome": new NomeHelper(),
    "aggettivo": new AggettivoHelper()
}

HELPERS["nome_proprio"].init_form("#helper_data");

for(k in HELPERS){
    $('#helper').append('<option value="'+k+'">'+HELPERS[k].name+'</option>');
    console.log(k);
}

$("#helper").change(function(event){
    var helper=HELPERS[$(this).val()];
    helper.init_form("#helper_data");
});

$(".not-found-morph").css("cursor","pointer");

$(".not-found-morph").click(function(event){
    event.preventDefault();
    var word=$(this).html();
    var helper=$("#helper").val();
    HELPERS[helper].add_word("#helper_data",word);
});



{% endblock script %}
